body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation,
.main-navigation {
  list-style: none;
}

.site-navigation a,
.main-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.main-navigation a:hover {
	background-color: #81b3d2
}

.site-navigation a:focus,
.main-navigation a:focus {
	background-color: #cacaca
}

.advantages-list,
.more-advantages {
	list-style: none;
}

.mine-footer {
	background-color: rgba(255,255,255,0.9);
}

.footer-social li {
	list-style: none;
}

.footer-social .social-button {
	color: #000000;
}

.footer-copiraght-logo {
	color: #000000;
}

